html{
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
    font-size: large;
}

#main {
    text-align: center;
}

#menu{
    padding-left: 33%;
    padding-right: 33%;
    display: none;
    justify-content: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}